secret.txt
____
\_\**/_/
/ /__\ \
 -|[]|---------------------------------
 _|[ ]|_     _____     _____     _____             |    |
  |[__]|                                           |    |
--/  \---------------------------------
  |   |
  |_  |_
